<div class="clipping type-{{ class }}">
	<h2>{{ title }}</h2>
	<div class="author">{{ author }}</div>
	<blockquote>{{ content }}</blockquote>
	<div class="meta"><span class="date">{{ date }}</span> <span class="locations"> {{ locationRange }}</span></div>

</div>